@import "./fn.less";
.bs{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.ctn0{
  .ctn(@maxW);
}
.ctn1{
  .ctn(@maxW);
  padding: 0 2%;
}
.btn1{
  .cp();
  &:hover{
    opacity: 0.8;
  }
}
//弧形border
.br_arc{
  overflow: hidden;
  &::after{
    content: "";
    display: block;
    width: 120%;
    height: 40px;
    border-radius: ~"0 0 100% 100% / 0 0 150% 150%";
    background: @main;
    margin-left: -11.5%;
    @media(max-width: @md){
      height: 30px;
    }
    @media(max-width: @sm){
      height: 20px;
    }
  }
}
//animetion
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}