@import "./main.less";
//params
@maxW: 1024px;
//color
@main: #db5f79;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.l_ctn {
  animation: fadeIn 1s forwards;
}

.f_fill {
  padding-top: 80px;
}
.f_frame{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 99;
  .f_ctn {
    .bc(#f0f0f0);
    height: 100%;
    border-top: 3px solid @main;
    .f_btn {
      .W_H(25%,100%);
      position: relative;
      text-align: center;
      .f_icon{
        cursor: pointer;
        .W_H(50px,100%);
        display: inline-block;
        background-size: 75%;
        background-position: 50% 8px;
        background-repeat: no-repeat;
        > p {
          font-size: 18px;
          position: absolute;
          top: 45px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:hover,&.active {
          .c(@main);
        }
        &.home {
          background-image: url('~@img/home.png');
          &:hover,&.active {
            background-image: url('~@img/home_on.png');
          }
        }
        &.line {
          background-image: url('~@img/line.png');
          &:hover {
            background-image: url('~@img/line_on.png');
          }
        }
        &.sign_in {
          background-image: url('~@img/my.png');
          &:hover {
            background-image: url('~@img/my_on.png');
          }
        }
        &.login_out {
          background-image: url('~@img/logout.png');
          &:hover {
            background-image: url('~@img/logout_on.png');
          }
        }
      }
    }
  }
}

.meme_frame {
  padding-top: 3px;
  .bc(@f);
  .meme_ctn {
    .meme_detail {
      background: #f0f0f0 url('~@img/swiper_bg.gif');
      background-repeat: repeat-x;
      background-size: contain;
    }
    .me_box {
      width: 95%;
      height: 490px;
      margin: 0 auto;
      background-color: #fd7b97;
      border-radius: 15px;
      padding: 10px;
      @media (max-width: 767px) {
        height: 250px;
      }
      ._list {
        line-height: 40px;
        font-size: 24px;
        border-bottom: 1px dotted #ccc;
        font-weight: 600;
        > div {
          @media (max-width: 767px) {
            height: 23px;
            line-height: 23px;
            font-size: 13px;
          }
        }
    
      }
      ._photo {
        .W_H(35%,100%);
        .bc(@f);
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
        @media (max-width: 767px) {
          .W_H(40%,230px);
        }
        img {
          max-width: unset;
          height: 100%;
        }
      }
      ._name {
        width: 100%;
        height: 100px;
        line-height: 120px;
        font-size: 40px;
        font-weight: 600;

        @media (max-width: 767px) {
          .W_H(100%,30px);
          line-height: 35px;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
      ._data {
        width: 65%;
        padding-left: 20px;
        position: relative;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
       @media (max-width: 767px) {
          .W_H(60%,230px);
          border-bottom-left-radius: 0px;
          padding-left: 10px;
          padding-right: 10px;
      }
      ._num {
        display: block;
        padding-left: 10px;
        font-size: 24px;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #db5f79;
        @media (max-width: 767px) {
          font-size: 13px;
        }
        span {
          display: inline-block;
          color: #999;
        }
       }
       .price {
          color: @main;
          font-style: italic;
       }
      }
    }
    .meme_info{
      width: 95%;
      margin: 0 auto;
      @media (max-width: 767px) {
        padding-bottom: 0;
        padding-top: 15px;
      }
      .meme_service {
        @media (max-width: 767px) {
          margin-top: 8px;
        }
        margin-bottom: 30px;
        .service_list{
          width: 100%;
          height: auto;
          border-bottom: 1px dotted #eee;
          font-size: 20px;
          text-align: left;
          padding-top: 15px;
          line-height: 28px;
          padding-bottom: 10px;
          @media (max-width: 767px) {
            font-size: 14px;
            padding-top: 5px;
            line-height: 20px;
            padding-bottom: 5px;
            margin-top: 0px;
          }
          span {
            color: #999;
            a {
              color: #0000EE;
            }
          }
        }
      }
    }
    .msg_ctn {
      padding: 30px 0;
      .list {
        margin-bottom: 30px;
        .user_img {
          text-align: center;
          width: 82px;
          img {
            .WH(60px);
            outline: 0;
            padding: 0;
            display: block;
            margin: 0;
            border-radius: 50%;
          }
        }
        .comment {
          width: calc(100% - 90px);
          border-bottom: 1px dotted #eee;
          position: relative;
          .title {
            font-size: 18px;
            color: #4e7d9b;
            height: 40px;
            line-height: 40px;
            font-weight: 700;
          }
          .text {
            font-size: 18px;
            color: #333;
            height: auto;
            line-height: 36px;
            width: 100%;
            background: @f;
          }
          .date {
            .W_H(100%,40px);
            font-size: 14px;
            color: #999;
            overflow: hidden;
            line-height: 40px;
            text-align: right;
            background: @f;
            padding-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }    
    .comment_from {
      input {
        .W_H(85%,60px);
        border-radius: 10px;
        border: 1px solid #ddd;
        padding-left: 20px;
        font-size: 24px;
        @media (max-width: 767px) { 
          .W_H(80%,40px);
          border-radius: 5px;
          font-size: 16px;
        }
      }
      .comment_btn {
        width: 13%;
        height: 60px;
        display: block;
        margin-left: 10px;
        background: #559cfc;
        color: @f;
        text-align: center;
        line-height: 60px;
        border-radius: 10px;
        border: 0;
        outline: none;
        font-size: 24px;
        @media (max-width: 767px) { 
          .W_H(15%,38px);
          line-height: 38px;
          border-radius: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

.search_frame {
  .search_ctn {
    .bc( #f0f0f0);
  }
  .el-form-item {
    @media (max-width: @sm) {
      margin-bottom: 15px;
      }
  }
  .submit {
    display: block;
    width: 100%;
    .bc(@main);
    color: @f;
    height: 40px;
    background: #db5f79;
    line-height: 40px;
    font-size: 24px;
    padding: 0;
  }
  .search_title {
    .W_H(100%,80px);
    .bc(@f);
    line-height: 80px;
    font-size: 24px;
    color: #333;
    padding-left: 40px;
    @media (max-width: @md) { 
       .W_H(100%,50px);
      line-height: 40px;
      font-size: 18px;
      padding-left: 20px;
    }
  }
  .search_form {
    .W_H(90%,auto);
    margin: 0 auto;
    margin-top: 25px;
    .form_label {
      .el-form-item__content {
        line-height: 36px;
        margin-left: 140px;
        @media (max-width: @md) { 
          margin-left: 0px;
       }
      }
    }
    .el-select__caret {
      .bc(@f);
    }
    .el-form-item__label {
      .W_H(140px,38px);
      .bc(#FBFBFB);
      color: #000;
      padding: 8px 15px;
      line-height: 20px;
      border: 1px solid #e6e6e6;
      border-radius: 2px 0 0 2px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      @media (max-width: @md) { 
        .bc(@main);
        color: @f;
     }
     @media (max-width: @sm) {
      width: 100%;
      }
    }
    .type_input {
      display: inline-block;
      .W_H(100%,38px);
      border: 1px solid #e6e6e6;
      max-width: 157px;
      margin-right: 10px;
      vertical-align: top;
      margin-left: -1px;
      @media (max-width: @md) { 
        display: block;
        max-width: unset;
        height: auto;
        border: 0;
     }
      .el-input__inner {
        line-height: 36px;
        height: 36px;
        border: 0;
      }
      .el-input {
        height: 100%;
        overflow: hidden;
        input {
          .WH(100%);
          border: 0;
          padding-left: 10px;
          @media (max-width: @md) { 
            height: 36px;
         }
        }
      }
    }
    .check_group {
      .el-checkbox {
        .el-checkbox__label {
          min-width: unset;
        }
      }
    }
  }
}
.check_group {
  .el-checkbox {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin:4px 0 4px 10px;
    background-color: #fbfbfb;
    vertical-align: top;
    .el-checkbox__input {
      .WH(30px);
      .bc(@f);
      vertical-align: top;
      border: 1px solid #d2d2d2;
      border-radius: 0 2px 2px 0;
      color: @f;
      font-size: 20px;
      text-align: center;
    }
    .el-checkbox__inner {
      border: 0;
      .WH(100%);
      &:after {
        top: 50%;
        left: 30%;
        .W_H(5px,12px);
        border-color: @main;
      }
    }
    .el-checkbox__label {
      min-width: 64px;
      margin-left: -1px;
      padding: 0 10px;
      height: 100%;
      font-size: 14px;
      border-radius: 2px 0 0 2px;
      line-height: inherit;
      border: 1px solid #d2d2d2;
      color: #333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
 
    }
    &.is-checked {
      .el-checkbox__inner {
        .bc(@f);
        &:after {
          transform: rotate(45deg) scaleY(1) translate(-50%,-50%);
        }
      }
      .el-checkbox__label {
        .bc(@main);
        color: @f;
      }
    }
  }
}