@import "./fn.less";
body{
  .bc(#333333);
  color: #333333;
}
#app{
  
}
.space_frame{
  .ctn(@maxW);
  .bc(@f);
  width: 100%;
}
.h_frame{
  .h_ctn{
    .bc(@main);
    .ctn(@maxW);
    &._head{
      .P_tb(10px);
      .title{
        .cf();
        font-size: 26px;
        float: left;
        font-weight: bold;
      }
      .login{
        float: right;
        width: 30px;
        .cp();
      }
    }
    &._nav{
      .index_logo{
        .WH(20vw);
        max-width: 175px;
        max-height: 175px;
        border: 7px solid @main_deep;
        border-radius: 50%;
        background: center no-repeat;
        background-size: cover;
        @media(max-width: @md){
          border-width: 5px;
        }
      }
      .page_go_back{
        .cp();
        border: none;
        background-image: url('~@img/arrow_left.png');
        background-size: 80% auto;
      }
      .kw_box{
        padding:  0 20px;
        @media(max-width: @md){
          padding:  0 10px;
        }
      }
      .kw_item{
        .bc(@f);
        border-radius: 50px;
        padding: 20px 30px;
        @media(max-width: @md){
          padding: 10px 20px;
        }
        &>input{
          font-size: 24px;
          border: none;
          width: 100%;
          @media(max-width: @md){
            font-size: 18px;
          }
        }
        &>.icon{
          width: 50px;
          .cp();
          @media(max-width: @md){
            width: 20px;
          }
        }
      }
      .adc{
        .cf();
        font-size: 32px;
        @media(max-width: @md){
          font-size: 20px;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &._home{
      padding-bottom: 20px;
    }
    &._mar{
      padding-bottom: 20px;
      .vtc{
        margin-right: 30px;
      }
      .laba{
        margin-right: 5px;
        width: 25px;
      }
      .marquee-text-wrap{
        .cf();
        font-size: 20px;
        white-space: pre;
      }
    }
  }
}
.f_frame{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  .f_ctn {
    .ctn(@maxW);
    .bc(#f0f0f0);
    height: 100%;
    border-top: 3px solid @main;
    .f_btn {
      .W_H(25%,100%);
      position: relative;
      text-align: center;
      .f_icon{
        cursor: pointer;
        .W_H(50px,100%);
        display: inline-block;
        background-size: 75%;
        background-position: 50% 8px;
        background-repeat: no-repeat;
        > p {
          font-size: 18px;
          position: absolute;
          top: 45px;
          left: 50%;
          transform: translateX(-50%);
        }
        // &:hover,&.active {
        //   color: @main;
        // }
        &.home {
          background-image: url('~@img/home.png');
          // &:hover,&.active {
          //   background-image: url('~@img/home_on.png');
          // }
        }
        &.line {
          background-image: url('~@img/line.png');
          // &:hover {
          //   background-image: url('~@img/line_on.png');
          // }
        }
        &.sign_in {
          background-image: url('~@img/my.png');
          // &:hover {
          //   background-image: url('~@img/my_on.png');
          // }
        }
        &.login_out {
          background-image: url('~@img/logout.png');
          // &:hover {
          //   background-image: url('~@img/logout_on.png');
          // }
        }
      }
    }
  }
}
.f_fill {
  padding-top: 80px;
}
.home_frame{
  .bc(#f0f0f0);
  padding-top: 3px;
}
.banner_frame{
  padding: 0 2%;
  position: relative;
  &::before{
    content: "";
    .bc(@main);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
  }
  .banner_ctn{
    .bc(@main_deep);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    @media(max-width: @sm){
      padding: 5px;
    }
    &._slick{
      padding-bottom: 0;
      .slick-slide{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
      }
      .slick-dots{
        bottom: 10px;
      }
    }
  }
}
.town_frame{
  padding: 20px 2%;
  .town_ctn{
    border-radius: 15px;
    .bc(@f);
    padding: 30px 10px 10px;
    @media(max-width: @sm){
      padding: 20px 15px 5px;
    }
  }
  .town_box{
    display: flex;
    align-items: center;
    justify-content: center;
    .WH(90px);
    .bc(#f2f2f2);
    border-radius: 10px;
    font-size: 30px;
    color: #999;
    .cp();
    margin: 0 8px 15px;
    font-weight: bold;
    &.active, &:hover{
      color: @f;
      .bc(@main_deep);
    }
    @media(max-width: @md){
      .WH(70px);
      font-size: 20px;
    }
    @media(max-width: @sm){
      .WH(18VW);
      margin: 0 5px 10px;
    }
  }
}
.menu_frame{
  padding: 0 2% 10px;
  .menu_title{
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .phb_title{
    position: relative;
    .phb{
      border-radius: 15px;
    }
    span{
      position: absolute;
      font-size: 30px;
      color: #fff;
      text-shadow: 0px 2px 2px #666;
      @media(max-width: @md){
        font-size: 24px;
      }
      @media(max-width: @sm){
        font-size: 14px;
      }
      &._1{
        width: 50%;
        top: 20px;
        right: 20px;
        @media(max-width: @sm){
          top: 10px;
          right: 10px;
        }
      }
      &._2{
        .cp();
        right: 20px;
        bottom: 20px;
        @media(max-width: @sm){
          right: 10px;
          bottom: 10px;
        }
        
      }
    }
  }
  .type_title{
    .bc(@main);
    padding: 10px 20px;
    font-size: 40px;
    font-weight: bold;
    @media(max-width: @md){
      font-size: 30px;
    }
    @media(max-width: @sm){
      padding: 10px;
      font-size: 24px;
    }
    ._town{
      color: @f;
      margin-right: 10px;
      @media(max-width: @sm){
        margin-right: 5px;
      }
    }
    ._more{
      font-size: 80%;
      color: @f;
      .cp();
      letter-spacing: 1px;
    }
  }
}
.kw_frame{
  .kw_ctn{
    padding: 20px 2%;
  }
  .kw_ttl{
    .cf();
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    .bc(@main);
    @media(max-width: @md){
      font-size: 30px;
    }
  }
  .kw_box{
    padding: 20px 2%;
    .bc(#f0f0f0);
  }
}
.meme_file{
  .file_box{
    width: 33%;
    &>*{
      width: 100%;
    }
  }
  &::after{
    content: "";
    display: block;
    width: 33%;
  }
}
.meme_frame {
  padding-top: 3px;
  .bc(#f0f0f0);
  .banner_frame{
    margin-bottom: 20px;
    @media(max-width: @sm){
      margin-bottom: 10px;
    }
  }
  .meme_star {
    font-weight: 700;
    width: 48%;
    padding-left: 2%;
    .total_start {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 15px;
      overflow: hidden;
      padding-top: 0;
      border-bottom: #ddd 1px solid;
      margin-bottom: 30px;
      margin-top: 12px;
      .el-rate__icon  {
        font-size: 32px;
      }
    }
    .score {
      font-size: 60px;
      color: #f879a1;
      
    }
    .reta_item {
      height: 24px;
      >span {
        margin-right: 8px;
      }
    }
    .submit {
      font-weight: normal;
      margin-top: 20px;
      width: 100%;
      height: 45px;
      background: #eee;
      color: #f879a1;
      font-size: 20px;
      line-height: 45px;
      text-align: center;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
    .el-rate__text{
      font-size: 15px;
    }
    .comment_btn {
      cursor: pointer;
      width: 13%;
      height: 60px;
      display: block;
      margin-left: 10px;
      background: #559cfc;
      color: @f;
    }
  }
  .me_box {
    .bc(@f);
    padding: 0;
    margin: 0;
    width: 100%;
    ._photo {
      height: auto;
      width: 320px;
      border-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      @media(max-width: @md){
        width: 240px;
      }
      @media(max-width: @sm){
        width: 40%;
      }
      img {
        width: 100%;
        cursor: default;
      }
    }
    ._data {
      padding-bottom: 0 !important;
      position: relative;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @media (min-width: @up_md) {
        padding-left: 20px;
      }
      @media(min-width: @up_sm){
        padding-top: 30px;
      }
      @media(max-width: @sm){
        padding: 10px 5px 0;
      }
      ._num {
        font-size: 24px;
        position: absolute;
        right: 10px;
        top: 10px;
        color: @main;
        @media (max-width: @md) {
          font-size: 16px;
        }
        @media (max-width: @sm) {
          font-size: 13px;
        }
        span {
          color: #999;
        }
      }
    }
    ._name {
      font-size: 40px;
      @media (max-width: @md) {
        font-size: 30px;
      }
      @media(max-width: @sm){
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
    ._list {
      > div {
        line-height: 1.8;
        @media (max-width: @md) {
          font-size: 16px;
        }
        @media(max-width: @sm){
          line-height: 1;
          font-size: 13px;
        }
      }
    }
  }
  .meme_info{
    padding: 30px 2%;
    .bc(@f);
  }
  .meme_service {
    .service_list{
      width: 100%;
      height: auto;
      border-bottom: 1px dotted #eee;
      font-size: 20px;
      text-align: left;
      padding-top: 15px;
      line-height: 1.8;
      padding-bottom: 10px;
      @media(max-width: @sm){
        font-size: 14px;
      }
      span {
        color: #999;
        a {
          color: #0000EE;
        }
      }
    }
  }
  .msg_ctn {
    padding: 30px 0;
    .list {
      margin-bottom: 30px;
      .user_img {
        text-align: center;
        width: 82px;
        img {
          .WH(60px);
          outline: 0;
          padding: 0;
          display: block;
          margin: 0;
          border-radius: 50%;
        }
      }
      .comment {
        width: calc(100% - 90px);
        border-bottom: 1px dotted #eee;
        position: relative;
        .title {
          font-size: 18px;
          color: #4e7d9b;
          height: 40px;
          line-height: 40px;
          font-weight: 700;
        }
        .text {
          font-size: 18px;
          color: #333;
          height: auto;
          line-height: 36px;
          width: 100%;
          background: #fff;
        }
        .date {
          .W_H(100%,40px);
          font-size: 14px;
          color: #999;
          overflow: hidden;
          line-height: 40px;
          text-align: right;
          background: #fff;
          padding-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }    

  .comment_from {
    input {
      .W_H(85%,60px);
      border-radius: 10px;
      border: 1px solid #ddd;
      padding-left: 20px;
      font-size: 24px;
      @media (max-width: 767px) { 
        .W_H(80%,40px);
        font-size: 16px;
      }
    }
    .comment_btn {
      width: 13%;
      height: 60px;
      margin-left: 10px;
      background: #559cfc;
      color: #fff;
      text-align: center;
      line-height: 60px;
      border-radius: 10px;
      font-size: 24px;
      .cp();
      @media (max-width: 767px) { 
        .W_H(15%,38px);
        line-height: 38px;
        font-size: 16px;
      }
    }
  }
}
.search_frame {
  .search_ctn {
    .bc(#f0f0f0);
    padding: 20px 2%;
  }
  .el-form-item {
    @media (max-width: @sm) {
      margin-bottom: 15px;
    }
  }
  .submit {
    display: block;
    width: 100%;
    .bc(@main);
    color: @f;
    height: 40px;
    background: #db5f79;
    line-height: 40px;
    font-size: 24px;
    padding: 0;
  }
  .search_title {
    .W_H(100%, 80px);
    .bc(@f);
    line-height: 80px;
    font-size: 24px;
    color: #333;
    padding-left: 40px;
    @media (max-width: @md) {
      .W_H(100%, 50px);
      line-height: 40px;
      font-size: 18px;
      padding-left: 20px;
    }
  }
  .el-input__suffix {
    .bc(@f);
    z-index: 8;
    right: 0;
  }
  .search_form {
    padding: 20px 2%;
    .form_label {
      .el-form-item__content {
        line-height: 36px;
        margin-left: 140px;
        @media (max-width: @md) {
          margin-left: 0px;
        }
      }
    }
    .el-form-item__label {
      .W_H(140px, 38px);
      .bc(#fbfbfb);
      color: #000;
      padding: 8px 15px;
      line-height: 20px;
      border: 1px solid #e6e6e6;
      border-radius: 2px 0 0 2px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      @media (max-width: @md) {
        .bc(@main);
        color: @f;
      }
      @media (max-width: @sm) {
        width: 100%;
      }
    }
    .type_input {
      display: inline-block;
      .W_H(100%, 38px);
      border: 1px solid #e6e6e6;
      max-width: 157px;
      margin-right: 10px;
      vertical-align: top;
      margin-left: -1px;
      overflow: hidden;
      @media (max-width: @md) {
        display: block;
        max-width: unset;
        height: auto;
        border: 0;
      }
      .el-input__inner {
        line-height: 36px;
        height: 36px;
        border: 0;
      }
      .el-input {
        height: 100%;
        overflow: hidden;
        input {
          .WH(100%);
          border: 0;
          padding-left: 10px;
          @media (max-width: @md) {
            height: 36px;
          }
        }
      }
    }
    .check_group {
      .el-checkbox {
        .el-checkbox__label {
          min-width: unset;
        }
      }
    }
  }
}
.check_group {
  .el-checkbox {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin:4px 0 4px 10px;
    background-color: #fbfbfb;
    vertical-align: top;
    .el-checkbox__input {
      .WH(30px);
      .bc(@f);
      vertical-align: top;
      border: 1px solid #d2d2d2;
      border-radius: 0 2px 2px 0;
      color: @f;
      font-size: 20px;
      text-align: center;
    }
    .el-checkbox__inner {
      border: 0;
      .WH(100%);
      &:after {
        top: 50%;
        left: 30%;
        .W_H(5px,12px);
        border-color: @main;
      }
    }
    .el-checkbox__label {
      min-width: 64px;
      margin-left: -1px;
      padding: 0 10px;
      height: 100%;
      font-size: 14px;
      border-radius: 2px 0 0 2px;
      line-height: inherit;
      border: 1px solid #d2d2d2;
      color: #333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
 
    }
    &.is-checked {
      .el-checkbox__inner {
        .bc(@f);
        &:after {
          transform: rotate(45deg) scaleY(1) translate(-50%,-50%);
        }
      }
      .el-checkbox__label {
        .bc(@main);
        color: @f;
      }
    }
  }
}
.search_from_select {
  .sp_option {
    span{
      padding: 5px 10px;
      .cp();
    }
  }
  .el-select__tags {
    >span {
      display: flex;
    }
    .el-tag__close {
      display: none;
    }
    .el-tag{
      color: #333;
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      line-height: 1;
      height: auto;
      &:not(:last-child){
        margin-right: 3px;
        &::after{
          content: ",";
        }
      }
    }
  }
  .el-checkbox {
    margin: 0 auto;
    background-color: transparent;
    .el-checkbox__input {
      border: 0;
      background-color: transparent;
    }
    .el-checkbox__inner {
      .WH(20px);
      border: 1px solid #DCDFE6;
      margin: 5px auto;
      &:after {
        top: 50%;
        left: 30%;
        .W_H(5px,10px);
        border-color: @f;
      }
    }
    .el-checkbox__label {
      border: 0;
    }
    &.is-checked {
      .el-checkbox__inner {
        .bc(@main);
        &:after {
          transform: rotate(45deg) scaleY(1) translate(-50%,-50%);
        }
      }
      .el-checkbox__label {
        color: #333;
        background-color: transparent;
      }
    }
  }
}
.t_search_frame {
  .t_search_ctn {
    .bc(@f);
  }
  .t_s_total {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    span {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      color: @main_deep;
    }
  }
  .t_s_row {
    .bc(#ddd);
    position: relative;
    padding: 20px 2%;
  }
}
.es_frame {
  .es_ctn{
    padding: 20px 2%;
  }
  .es_tab{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    @media(max-width: @md) {
      font-size: 20px;
    }
    span {
      cursor: pointer;
      color: #999;
      &.active {
        color: @main;
      }
    }
  }
}