.bs {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.ctn0 {
  max-width: 1024px;
  margin: auto;
}
.ctn1 {
  max-width: 1024px;
  margin: auto;
  padding: 0 2%;
}
.btn1 {
  cursor: pointer;
}
.btn1:hover {
  opacity: 0.8;
}
.g_box {
  width: 32%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .g_box {
    width: 48%;
  }
}
.g_box._home {
  background-color: #fec3b5;
  padding: 10px;
}
.g_box ._photo {
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}
@media (max-width: 1024px) and (min-width: 801px) {
  .g_box ._photo {
    height: 30vw;
  }
}
@media (max-width: 800px) {
  .g_box ._photo {
    height: 40vw;
  }
}
.g_box ._photo > img {
  width: 100%;
  transition: 0.3s linear;
}
.g_box ._photo > img:hover {
  transform: scale(1.1);
}
.g_box ._data {
  padding: 10px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.g_box ._name {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.g_box ._list > div {
  float: left;
  width: 100%;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.g_box ._list > div._50 {
  width: 50%;
}
.g_box ._list > div > span {
  color: #999999;
}
.g_box ._list > div > span._price {
  color: #db5f79;
  font-size: 16px;
  font-style: italic;
}
.g_fill::after {
  content: "";
  display: block;
  flex-grow: 1;
  min-width: 50%;
}
body {
  background-color: #333333;
  color: #333333;
}
.h_frame .h_ctn {
  background-color: #db5f79;
}
.h_frame .h_ctn._head {
  padding-top: 10px;
  padding-bottom: 10px;
}
.h_frame .h_ctn._head .title {
  color: #ffffff;
  font-size: 26px;
  float: left;
  font-weight: bold;
}
.h_frame .h_ctn._head .login {
  float: right;
  width: 30px;
  cursor: pointer;
}
.h_frame .h_ctn._nav {
  padding-bottom: 20px;
}
.h_frame .h_ctn._nav .index_logo {
  width: 20vw;
  height: 20vw;
  max-width: 175px;
  max-height: 175px;
  border: 10px solid #efafbc;
  border-radius: 50%;
  background: center no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .h_frame .h_ctn._nav .index_logo {
    border-width: 5px;
  }
}
.h_frame .h_ctn._nav .kw_box {
  padding: 0 20px;
}
@media (max-width: 768px) {
  .h_frame .h_ctn._nav .kw_box {
    padding: 0 10px;
  }
}
.h_frame .h_ctn._nav .kw_item {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 20px 30px;
}
@media (max-width: 768px) {
  .h_frame .h_ctn._nav .kw_item {
    padding: 10px 20px;
  }
}
.h_frame .h_ctn._nav .kw_item > input {
  font-size: 24px;
  border: none;
  width: 100%;
}
@media (max-width: 768px) {
  .h_frame .h_ctn._nav .kw_item > input {
    font-size: 18px;
  }
}
.h_frame .h_ctn._nav .kw_item > .icon {
  width: 50px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .h_frame .h_ctn._nav .kw_item > .icon {
    width: 20px;
  }
}
.h_frame .h_ctn._nav .adc {
  color: #ffffff;
  font-size: 32px;
}
@media (max-width: 768px) {
  .h_frame .h_ctn._nav .adc {
    font-size: 20px;
  }
}
.h_frame .h_ctn._nav .adc:hover {
  text-decoration: underline;
}
.h_frame .h_ctn._mar {
  padding-bottom: 20px;
}
.h_frame .h_ctn._mar .vtc {
  margin-right: 30px;
}
.h_frame .h_ctn._mar .laba {
  margin-right: 5px;
  width: 25px;
}
.h_frame .h_ctn._mar .marquee-text-wrap {
  color: #ffffff;
  font-size: 20px;
  white-space: pre;
}
.home_frame {
  background-color: #f0f0f0;
  padding-top: 3px;
}
.banner_frame {
  padding: 0 2%;
  position: relative;
}
.banner_frame::before {
  content: "";
  background-color: #db5f79;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}
.banner_frame .banner_ctn {
  background-color: #fd7b97;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 15px;
  position: relative;
}
.banner_frame .banner_ctn .slick-slide {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.banner_frame .banner_ctn .slick-dots {
  bottom: 10px;
}
.town_frame {
  padding: 20px 2%;
}
.town_frame .town_ctn {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 30px 15px 15px 30px;
}
.town_frame .town_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: #f2f2f2;
  border-radius: 50%;
  font-size: 30px;
  color: #999;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
}
.town_frame .town_box.active,
.town_frame .town_box:hover {
  color: #ffffff;
  background-color: #eb2654;
}
.menu_frame {
  padding: 0 2% 20px;
}
.menu_frame .type_title {
  margin-bottom: 20px;
  background-color: #db5f79;
  border-radius: 15px;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
.menu_frame .type_title ._town {
  color: #ffffff;
  margin-right: 10px;
}
.menu_frame .type_title ._more {
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 1px;
}
.l_frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.l_frame .l_ctn {
  flex-shrink: 1;
  background-color: #ffffff;
  position: relative;
  max-width: 96%;
}
.l_frame .l_x {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  line-height: 1;
}
.l_frame .l_box {
  padding: 15% 10%;
  font-size: 20px;
}
.l_frame .l_box > *:not(:last-child) {
  margin-bottom: 30px;
}
.l_frame .l_box > input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 10px 10px;
  font-size: 20px;
}
.l_frame .l_btn {
  background-color: #0b2633;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
  margin: 0 10px;
  margin-top: 60px;
}
