html,
body {
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  border: none;
}
a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  border: none;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  border: none;
}
* {
  box-sizing: border-box;
  outline: none;
}
span {
  display: inline-block;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
ul,
ol {
  margin: 0;
  padding-left: 22px;
}
ul.decimal,
ol.decimal {
  list-style: decimal;
}
ul.disc,
ol.disc {
  list-style: disc;
}
ul.upper_alpha,
ol.upper_alpha {
  list-style: upper-alpha;
}
ul.cus,
ol.cus {
  list-style: none;
  padding: 0;
}
ul.cus > li,
ol.cus > li {
  position: relative;
  padding-left: 22px;
}
ul.cus > li::before,
ol.cus > li::before {
  content: attr(str);
  position: absolute;
  top: 0;
  left: 0;
}
ul.cus._gh > li::before,
ol.cus._gh > li::before {
  content: "(" attr(str) ")";
}
ul.cus._num > li:nth-child(n + 10),
ol.cus._num > li:nth-child(n + 10) {
  padding-left: 30px;
}
ul.none,
ol.none {
  list-style: none;
  padding: 0;
}
ul x,
ol x {
  font-weight: bold;
  font-size: 110%;
}
.h100 {
  height: 100%;
}
.fx {
  display: flex;
}
.fx ._fill {
  flex-grow: 1;
}
.fx > :not(._fill) {
  flex-shrink: 0;
}
.fw {
  flex-wrap: wrap;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.fdc {
  flex-direction: column;
}
.fdc ._fill {
  overflow-y: auto;
}
.clear::after {
  display: block;
  content: "";
  clear: both;
}
.vtc > * {
  vertical-align: middle;
}
.vtc::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
@media (min-width: 1025px) {
  .up_lg_hide {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .lg_hide {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .up_md_hide {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .md_hide {
    display: none !important;
  }
}
@media (min-width: 577px) {
  .up_sm_hide {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .sm_hide {
    display: none !important;
  }
}
@media (min-width: 451px) {
  .up_ssm_hide {
    display: none !important;
  }
}
@media (max-width: 450px) {
  .ssm_hide {
    display: none !important;
  }
}
.slick-prev:before {
  content: "";
}
.slick-next:before {
  content: "";
}
.slick-slide img {
  display: block !important;
  margin: auto;
}
